<div id="footer">
    <div id="AllFooter">
    <div id="content1">
        <img src="./image/logo_NNice.png">     
    </div>
    <div id="content2">
        <div class="ct2_title"><i class="fa fa-info-circle" aria-hidden="true"></i> Thông tin</div>   
        <div class="ct2_content">
            <p><i class="fa fa-building" aria-hidden="true"></i> CÔNG TY TNHH GIẢI TRÍ NGHỆ THUẬT NICE</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>: 113 Phan Xích Long, Phường 2, Quận Phú Nhuận, TP.Hồ Chí Minh, Việt Nam</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>: cskg@nnice.com.vn</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>: (028)3 5170046</p>
        </div>    
    </div>
    <div id="content3">
        <div class="ct3_title"><i class="fa fa-link" aria-hidden="true"></i> Liên kết nhanh</div>
        <div class="ct3_content">
            <p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a></p>
            <p><a href="/rooms"><i class="fa fa-music" aria-hidden="true"></i> Phòng hát</a></p>
            <p><a href="/about"><i class="fa fa-info" aria-hidden="true"></i> Giới thiệu</a></p>
            <p><a href="/services"><i class="fa fa-concierge-bell" aria-hidden="true"></i> Dịch vụ</a></p>
            <p><a href="/contact"><i class="fa fa-address-book" aria-hidden="true"></i> Liên hệ</a></p>
        </div>       
    </div>
    <div id="content4">
        <div class="ct4_title"><i class="fa fa-clock-o" aria-hidden="true"></i> Giờ mở cửa</div>
        <div class="ct4_content">
            <p><i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 - Chủ nhật</p>
            <p><i class="fa fa-sun-o" aria-hidden="true"></i> 09:00 - 24:00</p>
            <p class="highlight"><i class="fa fa-moon-o" aria-hidden="true"></i> Mở cửa cả ngày lễ</p>
        </div>
        <div class="social-media">
            {{!-- <div class="ct4_title"><i class="fa fa-share-alt" aria-hidden="true"></i> Kết nối với chúng tôi</div> --}}
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-zalo"></i></a>
            </div>
        </div>
    </div>
    </div>
    <div class="text-center py-1 bg-dark text-light">
        © 2025 Copy Right by <strong>HMDuck</strong>
    </div>
</div>